body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.scoreboard {
    font-size:25px;
    line-height:45px;
    text-align: center;
}

h1 {
    text-align: center;
    font-size:40px;
    line-height: 45px;
}

p {
    padding-bottom:20px;
}